<%- include ('partials/header.ejs')%>
<%- include ('partials/main_nav.ejs')%>
<link rel="stylesheet" href="/content/style.css">
<main class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the <%= title %> page of my Portfolio</h1>
        <br>
        <h4>Mission Statement:</h4>
        <p>My approach to software engineering places this field of knowledge as a tool that can be used to improve human life and make processes more efficient.
            Tailoring software solutions to problems can only be done by understanding the business context and its particularities.
            My background in cultural studies, media theory and research helps me to bring a critical thinking methodology and framework.
            I hope to mingle in-between the world of business and software engineering solutions, to achieve your business goals in collaborative efforts.
        </p>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs')%>
<%- include ('partials/footer.ejs')%>

    